{% extends "base.html" %}
{% block title %}Dungeons and Dragons{% endblock %}

{% block page_content %}

    <body>
        <nav class="navbar">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Image Goes Here</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav ">
                <li class="active switch"><a href="#">Sheets</a></li>
                <li class="switch"><a href="#">Campaigns</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right navbarLogin">
                <li><a href="#"><span class="glyphicon glyphicon-log-in navbarLogin"></span> Login</a></li>
              </ul>
            </div>
          </div>
        </nav>

        <div class="inner">
            <form>
                <h2>Character form from python to go here</h2>

            </form>
            <button class="button2 alignRight" type="button">Next</button>
        </div>
    </body>

{% endblock %}