{% extends "base.html" %}
{% block title %}Dungeons and Dragons{% endblock %}

{% block page_content %}

    <body class="loginPage">
        <h1 class="textCenter">LOGO TO GO HERE</h1>
        <div class="loginDiv">
            <form>
                Username:<br>
                <input type="text" name="username"><br>
                Password:<br>
                <input type="text" name="password"><br>
                <h3>This will probably be replaced by Python code but it's just here for now</h3>
            </form>
            <button class="button1 alignRight" type="button">Login</button>
        </div>

    </body>
</html>

{% endblock %}