{% extends "base.html" %}
{% block title %}Dungeons and Dragons{% endblock %}

{% block page_content %}
    <img class="dragon" src="static/dragon.png">

    <h1 class="headings">Your current characters:</h1>
    {% if characters %}
        <ol>
        {% for character in characters %}
            <h3 class="page"><a href={{ url_for('character', name=character) }}>{{ character }}</a></h3>
        {% endfor %}
        </ol>
    {% else %}
        <h3 class="page">You currently have no characters</h3>
    {% endif %}

{% endblock %}