{% extends "base.html" %}
{% block title %}Dungeons and Dragons{% endblock %}

{% block page_content %}
<div class="page-header">
<img class="dragon" src='static/dragon.png'>

    <h2 class="headings">{{ name }}'s Page</h2>
    <br><br>
    <h4 class="page">{{ name }}'s current characters:</h4>
    {% if characters %}
        <ol>
        {% for character in characters %}
            <h5 class="page"><a href={{ url_for('character', name=character) }}>{{ character }}</a></h5>
        {% endfor %}
        </ol>
    {% else %}
        <h5 class="page">No characters were found belonging to {{ name }}</h5>
    {% endif %}
</div>
{% endblock %}